@tailwind base;
@tailwind components;
@tailwind utilities;

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
  }
  .loader:before,
  .loader:after {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    background: #f03355;
    -webkit-mask:repeating-linear-gradient(#000 0 5px,#0000 0 10px);
    animation: l35 1.5s infinite;
  }
  .loader:after {
    -webkit-mask:repeating-linear-gradient(#0000 0 5px,#000 0 10px);
    --s:-1;
  }
  @keyframes l35 {
    0%,
    10% {transform: translate(0) rotate(0)}
    35% {transform: translate(calc(var(--s,1)*50%)) rotate(0)}
    66% {transform: translate(calc(var(--s,1)*50%)) rotate(calc(var(--s,1)*180deg))}
    90%,
    100% {transform: translate(0) rotate(calc(var(--s,1)*180deg))}
  }
@media (max-width:720px) {

    .buttons{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
    }

    .image_box{
      display: grid;
      grid-template-columns: repeat(2 , 1fr);
      margin-left: 4rem;
      
    }

    .image{
      width: 200px;
      height: 200px;
    }

    .search_bar{
      display: flex;
      flex-direction: column;
      gap: 2px;
      justify-content: center;
      align-items: center;
    }

    .loader{
     margin-left: 24rem;
    }

    
}

  

 

 
